@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.submenu {
  text-align: center;
  display: none;
  flex-direction: column;
  margin-left: 15px;
  width: 200px;
  gap: 10px;
}

.submenu a {
  padding: 8px 10px;
  font-size: 0.9em;
  box-shadow: 1px 1px 5px white;
  background-color: white;
  color: #1e0e3e;
}

td {
  height: 30px;
}


