<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Selecciona un producto para editar</h2>
    <form method="POST">
        {% csrf_token %}
        <select name="producto_id" required>
            <option value="" disabled selected>Selecciona un producto</option>
            {% for producto in productos %}
                <option value="{{ producto.id }}">{{ producto.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Editar</button>
    </form>
</body>
</html>