{% load humanize %}

{% for carta in cartas_op %}
<div class="col carta-item" style="margin-top: 20px;">
    <div class="card h-100 shadow-sm">
        {% if carta.imagen %}
            <img src="{{ carta.imagen.url }}" loading="lazy" class="card-img-top" alt="{{ carta.nombre }}">
        {% else %}
            <div class="card-img-top d-flex align-items-center justify-content-center bg-light" style="height: 200px;">
                <span class="text-muted">Sin imagen</span>
            </div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title" style="font-size: 20px;">{{ carta.nombre }}</h5>
            <p class="card-text"><strong>Tipo:</strong> {{ carta.tipo|default:"N/A" }}</p>
            <p class="card-text"><strong>Precio:</strong> ${{ carta.precio_local|default:"N/A"|floatformat:0|intcomma }}</p>
            <p class="card-text"><strong>Stock:</strong> {{ carta.stock }}</p>
            <button class="btn btn-outline-primary btn-sm mt-2"
                    onclick="openModal('{{ carta.id }}', '{{ carta.nombre|escapejs }}', '{{ carta.descripcion|escapejs }}', '{{ carta.tipo }}', '{{ carta.precio_local }}', '{{ carta.stock }}', '{{ carta.imagen.url }}')">
                Ver más
            </button>
            <form id="form-compra-{{ carta.id }}" action="{% url 'Productos:agregar_al_carrito' 'onepiececard' carta.id %}" method="post" class="d-flex gap-2 align-items-center">
                {% csrf_token %}
                <input type="number" name="cantidad" min="1" max="{{ carta.stock }}" value="1" required
                    class="form-control form-control-sm" style="height: 50px;">
                <button type="submit" class="btn btn-success btn-sm" style="height: 50px; width: 150px;">
                    Comprar
                </button>
            </form>
        </div>
    </div>
</div>
{% endfor %}
